<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel = "stylesheet" href = "/assets/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <div class = "container">


<div class="jumbotron">
  <h1 class="display-4" id = "title">Recipe Scraper</h1>
 <img id ="chicken" src = "../../assets/images/food.jpg">
  <hr class="my-4">
  
  <a class="btn btn-primary btn-lg" id ="home" href="/" role="button">Home</a>
  <a class="btn btn-primary btn-lg"id ="clear" href="#" role="button">Clear Recipes</a>
  <a class="btn btn-primary btn-lg" id ="saved" href="#" role="button">Saved Recipes</a>
  
</div>


     {{#each recipe}}
    <p>Title: {{this.title}}</p>
   <a href = {{this.URL}}>{{this.URL}}</a>
   <br>
   <br>
    <input></input>
    <button data-id = "{{this.id}}" class = "noted">Add Note</button>
    {{/each}}

</div>

<script src = "../../assets/js/logic.js"></script>
</body>
</html>